<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykuee.datamaintenance.mapper.system.role.SysRoleMapper">


    <select id="selectBySearchKey" resultType="com.ykuee.datamaintenance.model.system.role.dto.SysRoleDTO">
     select ID, NAME, CODE, REMARK, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG,disable_Flag
       from SYS_ROLE
      where PARENT_ID is null
        and DEL_FLAG = '0'
        <if test="searchKey!=null and searchKey!='' ">
            <bind name="pattern" value="'%' + searchKey + '%'" />
            and NAME like #{pattern,jdbcType=VARCHAR} or CODE like #{pattern,jdbcType=VARCHAR})
        </if>
      order by ID
    </select>

    <select id="selectUserRoleBySearchKey" resultType="com.ykuee.datamaintenance.model.system.role.dto.SysRoleDTO">
        select t1.ID, t1.NAME, t1.CODE, t1.REMARK, t1.CREATE_BY, t1.CREATE_DATE, t1.UPDATE_BY, t1.UPDATE_DATE, t1.DEL_FLAG,t1.disable_Flag
        from SYS_USER_ROLE t2 left join SYS_ROLE t1 on t2.ROLE_ID = t1.id
        where t1.DEL_FLAG = '0'
          and t2.USER_ID  = #{userId,jdbcType=VARCHAR}
        <if test="searchKey!=null and searchKey!='' ">
            <bind name="pattern" value="'%' + searchKey + '%'" />
            and (t1.NAME like #{pattern,jdbcType=VARCHAR} or t1.CODE like #{pattern,jdbcType=VARCHAR})
        </if>
        order by t1.UPDATE_DATE
     </select>


    <select id="getRoleListByUserId" resultType="com.ykuee.datamaintenance.model.system.role.dto.SysRoleDTO">
        select t1.ID, t1.NAME, t1.CODE, t1.REMARK, t1.CREATE_BY, t1.CREATE_DATE, t1.UPDATE_BY, t1.UPDATE_DATE, t1.DEL_FLAG, t1.disable_Flag
        from SYS_USER_ROLE t2 left join SYS_ROLE t1 on t2.ROLE_ID = t1.id
        where t1.DEL_FLAG = '0'
          and t2.USER_ID  = #{userId,jdbcType=VARCHAR}
        order by t1.UPDATE_DATE
     </select>

    <select id="getRolesByUserId" resultType="com.ykuee.datamaintenance.model.system.role.dto.SysRoleDTO">
		select sr.id,
		       sr.name,
		       sr.code,
		       sr.remark,
		       sr.created_by,
		       sr.created_date,
		       sr.updated_by,
		       sr.updated_date,
		       sr.del_flag,
		       sr.disable_Flag
		       (CASE WHEN sur.id is null THEN '0' ELSE '1' END) selected
		from SYS_ROLE sr
		         left join sys_user_role sur on sr.id = sur.role_id and sur.user_id = #{userId,jdbcType=VARCHAR}
        <!-- <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach> -->
		where sr.DEL_FLAG = '0'
    </select>
</mapper>